sudo: false
language: node_js
node_js:
- stable
- '8'
- '6'
matrix:
  fast_finish: true
branches:
  only:
    - master
    - /^greenkeeper-.*$/
    - /^greenkeeper/.*$/
notifications:
  email:
    on_success: never
cache:
  directories:
  - node_modules

before_script: 'npm run linter'
script: 'npm run test'
after_script: 'npm run coverage'

